#mapid{

    height: 400px;
    width: 80%;
    margin: 0 auto;
   
}
h1{
    text-align: center;
    color: rgb(51, 4, 73);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
    background-color: rgb(189, 238, 255);
}